.Autocomplete {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Autocomplete-Input {
    margin-left: 6px;
    position: relative;
}

.Autocomplete-Label {
    margin-left: 6px;
}

.Autocomplete-ClearButton {
    margin-left: 6px;
}
